body {
    background-color: rgb(31, 28, 28);
    text-align: center;
    color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, serif;
    line-height: 1.5;
    margin: 0;
}

.headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 30%;
    border-bottom: 2px solid ivory;
}

.navBar {
  overflow: hidden;
}
.navBar a {
  float: left;
  color: ivory;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
  border-left: 2px solid ivory;
}
.navBar #rightmost {
  border-right: 2px solid ivory;
}
.navBar a:hover {
  background-color: ivory;
  color: rgb(31, 28, 28);
}

footer {
    position: absolute;
    top: 170vh;
    background-color: rgb(45, 42, 42);
    color: ivory;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContent p {
    margin: 5px 0;
    color: ivory;
}
    
#scoreBoardWrapper {
  width: 60%;
  display: flex;
  color: ivory;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  box-sizing: border-box;
}


#scoreboard {
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  border: 4px solid ivory;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 16rem;
}
.header {
  border-bottom: 2px solid black;
}
td {
  width: 50%;
  padding: 0.1rem;
}
td.left-cell {
  border-right: 2px solid black;
}

#scoreboard {
  top: 50%;
  left: 70%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  border: 4px solid ivory;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.header {
  border-bottom: 2px solid ivory;
}
td {
  width: 33%;
  padding: 0.1rem;
}
td.left-cell {
  border-right: 2px solid ivory;
}