hr {
  border-top: 4px dashed rgb(31, 28, 28);
  width: 100%;
}

.wrapper {
  flex: 1;
}

img {
  width: 30%;
  height: 40%;
  border-radius: 2%;
}

p, h3 {
  color: rgb(31, 28, 28);
}

.login {
  margin-top: 4rem;
  background-color: ivory;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

#errorMsg, #successOrFail {
  color: red;
  height: 1rem;
  margin-top: -1rem;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: rgb(31, 28, 28);
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(31, 28, 28);
  border-radius: 5px;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgb(31, 28, 28);
  transition: 0.5s;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: rgb(45, 42, 42);
}

.completeButton {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.scoreBox {
  width: 60%;
  display: flex;
  background-color: ivory;
  color: rgb(31, 28, 28);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.score {
  padding: 5px;
  margin-top: 10px;
  border-top: 2px solid ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#scoreBoardWrapper {
  width: 60%;
  display: flex;
  color: ivory;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  height: 80vh;
  box-sizing: border-box;
  border-left: 2px solid ivory;
  border-right: 2px solid ivory;
  border-bottom: 1px solid ivory;
  overflow: auto;
}